@model IEnumerable<GetFitness02.Models.Activity.ActivityEntry>

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-left: 20px; font-size:1.5rem;">Your Activity Board</h1>

<p style="padding-left: 20px;">
    <a asp-action="Create">Add Entry</a>
</p>
<table class="table" style="width: 100%; background-color:black;">
    <thead>
        <tr style="text-align:left; color:white;">
            <th style="padding-right: 70px;">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Activity
                @*@Html.DisplayNameFor(model => model.ActivityItem)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                Calories burned
            </th>
        </tr>
    </thead>
    <tbody style="background-color: white;">
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityItem.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>   
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ActivityEntryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ActivityEntryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ActivityEntryId">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
